<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<script type="text/javascript" src="/js/jquery.min.js"></script>
	</head>
	<body>
		<!--页面头部-->
		<%- include header %>
		<div>
			
		</div>
		<!--页面尾部-->
		<%- include footer %>
	</body>
</html>